body {
    background-color: #feeed6;
    color: #676565;
    font-family: sans-serif;
}

.page-block {
    margin: 6px 9px;
    max-width: 720px;
}

.params {
    margin: 0;
}

.params > * {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.contents-header {
    margin-block-start: 14px;
    margin-block-end: -2px;
}

.params strong, .contents-header strong {
    color: #378db2;
}

.contents {
    margin: 0;
    font-size: 15px;
    line-height: 1.4em;
    text-indent: 1em;
    text-align: justify;
}

.contents > p {
    margin-block-start: 9px;
    margin-block-end: 10px;
}

h3.header {
    margin-block-start: -2px;
    margin-block-end: 11px;
    font-size: 27px;
    font-weight: normal;
}