<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Phonebook</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/phonebook.css" rel="stylesheet">
    <link href="styles/sidebar.css" rel="stylesheet">
</head>
<body>

<div id="app">

    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Phonebook</span>
        <button @click="isSidebarActive = !isSidebarActive"
                id="sidebarCollapse" class="btn btn-primary ml-sm-1 mt-1 mt-sm-0 mr-sm-1 mr-md-0 sidebarCollapse" type="button">Add&nbsp;contact</button>
            <form class="form-inline w-100 my-1 my-sm-0 d-flex flex-sm-row">
                <input v-model="search"
                       class="form-control flex-grow-1" id="new-note-input" type="text" placeholder="Search">
            </form>
    </nav>

    <div class="vertical-nav bg-white" id="sidebar" :class="{ 'active': isSidebarActive }">
        <div class="container topbar-indent">
            <div class="row">
                <div class="col">
                    <add-contact-form :is-phone-exist="isPhoneExist" @check-phone-exist="checkPhoneExist"
                                      @set-is-phone-exist-null="isPhoneExist = null" @add-contact="addContact">
                    </add-contact-form>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content" id="content" :class="{ 'active': isSidebarActive }">
        <div class="table-responsive " :class="{ 'batch-delete-popup-push': (checkedIds.length > 0) }">
            <table class="table table-hover mb-0" id="phonebook">
                <thead class="thead-light">
                    <tr>
                        <th class="index">#</th>
                        <th class="first-name">First name</th>
                        <th class="last-name">Last name</th>
                        <th class="phone">Phone number</th>
                        <th class="delete-button"></th>
                        <th class="delete-check">
                            <div>
                                <input v-model="checkAll" type="checkbox" title="Check all contacts">
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-cloak v-for="(contact, index) in searchedContacts">
                        <td class="index">{{ index + 1 }}</td>
                        <td class="first-name">{{ contact.firstName }}</td>
                        <td class="last-name">{{ contact.lastName }}</td>
                        <td class="phone">{{ contact.phoneNumber }}</td>
                        <td class="delete-button">
                            <div>
                                <button @click="setRemoveTargets([contact.id])"
                                        type="button" class="close" aria-label="Delete contact" title="Delete contact">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </td>
                        <td class="delete-check">
                            <div>
                                <input v-model="contact.isChecked" type="checkbox" title="Check contact">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <batch-remove-popup v-if="checkedIds.length > 0" :checked="checkedIds" :is-sidebar-active="isSidebarActive"
                            @remove-checked="setRemoveTargets(checkedIds)">
        </batch-remove-popup>
    </div>

    <remove-modal v-if="removeTargets.isExist" :targets="removeTargets.ids"
                  @clear-remove-targets="removeTargets.isExist = false" @remove-contacts="removeContacts">
    </remove-modal>
</div>

<script type="text/x-template" id="add-contact-form-template">
    <form @submit.prevent="saveContact">
        <div class="form-group">
            <label for="first-name-input">First name</label>
            <input v-model="firstName" :class="{ 'is-invalid': isFirstNameEmpty }" ref="firstName"
                   type="text" class="form-control" id="first-name-input" aria-describedby="emailHelp" placeholder="Enter first name">
            <div class="invalid-feedback">
                Please enter first name
            </div>
        </div>
        <div class="form-group">
            <label for="last-name-input">Last name</label>
            <input v-model="lastName" :class="{ 'is-invalid': isLastNameEmpty }"
                   type="text" class="form-control" id="last-name-input" aria-describedby="emailHelp" placeholder="Enter last name">
            <div class="invalid-feedback">
                Please enter last name
            </div>
        </div>
        <div class="form-group">
            <label for="phone-number-input">Phone number</label>
            <input v-model="phoneNumber" :class="{ 'is-invalid': isPhoneEmpty || isPhoneDuplicate }"
                   type="text" class="form-control" id="phone-number-input" aria-describedby="emailHelp" placeholder="Enter phone number">
            <div v-if="isPhoneEmpty" class="invalid-feedback">
                Please enter phone number
            </div>
            <div v-if="isPhoneDuplicate" class="invalid-feedback">
                This phone number is already added
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Save contact</button>
    </form>
</script>

<script type="text/x-template" id="batch-remove-popup-template">
    <div class="batch-delete-popup" :class="{ 'active': isSidebarActive }">
        <div class="container batch-delete-container">
            <p class="batch-delete-text">
                You chose {{ checked.length }}
                contact<span v-if="checked.length > 1">s</span>
            </p>
            <button @click="doRemove" type="button" id="batch-delete-button" class="btn btn-danger batch-delete-button">Delete</button>
        </div>
    </div>
</script>

<script type="text/x-template" id="remove-contacts-modal-template">
    <div class="modal fade" id="remove-contacts-modal" tabindex="-1" role="dialog" aria-labelledby="delete note" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete contact<span v-if="targets.length > 1">s</span></h5>
                </div>
                <div class="modal-body">
                    Do you really want delete <span v-if="targets.length === 1">the</span><span v-else>{{ targets.length }}</span> contact<span v-if="targets.length > 1">s</span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button @click="doRemove"
                            type="button" class="btn btn-danger" id="delete-modal-button">
                        Delete <span v-if="targets.length === 1">the</span><span v-else>{{ targets.length }}</span> contact<span  v-if="targets.length > 1">s</span></button>
                </div>
            </div>
        </div>
    </div>
</script>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/underscore/underscore-min.js"></script>
<script src="scripts/phonebook.js"></script>
</body>
</html>